<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/indexS.js"></script>
<title> Calidad del Aire con IoT </title>
</head>
<body>
<h3><center><p style ="color:red;"> Monitoreo y Control de la Calidad del Aire empleando tecnología IoT</p></h3> 
<h3><center>Consultorio Odontológico SAN GREGORIO Quito-Ecuador</h3> 
<script src="/static/js/indexS2.js"></script>
<img src="/static/images/consultorioOdonto.png" alt="user">
<p><h4>Temperatura:<h3 id="temp">--<h4>Humedad:<h3 id="hum">--</p>
<h3><p style="color:blue;">GASES RELACIONADOS A LA CALIDAD DEL AIRE</p><h3 id="ppm">--</h3>
<h3>Historial de mediciones de los Sensores:</h3>
<pre id="his"></pre>
<script>
/*
function LED1_On() {
	alert("led on");
	console.log("led on"); 
}
function LED1_Off(){
	alert("led off");
	console.log("led off");
}
*/

</script>
<h5>controlaireapp.com <p align="right"> Diseño elaborado por Andrés Faicán Paredes ©2022 </p></h5>
</body>
</html>
